.kaufman__triangle {
  background-image: url(../../../images/images_sprint-1/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
