.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  color: black;
  background-color: #f2f2f2;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.header__title {
  margin: 0;
  width: 730px;
  align-self: center;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  width: 100%;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.descriprion {
  color: #000000;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
  color: #2f80ed;
}

.two-columns__paragraph {
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  justify-content: space-between;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  position: relative;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  margin: auto;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}


.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  padding: 100px 0 0;
  background-color: #f2f2f2;
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  color:#2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-top: 90px;
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  z-index: 1;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__author {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
